# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

оценка 2 и ниже — низкий рейтинг;
оценка 4 и ниже — средний рейтинг;
оценка 4.5 и 5 — высокий рейтинг.
Результат классификации запишите в столбец class.

# Задание 2
Используйте файл keywords.csv.

Нужно написать гео-классификатор, который каждой строке сможет выставить географическую при надлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

### Задание 1

In [1]:
import pandas as pd

Нужно прочитать данные, перебрать рейтинги и в зависимости от выполнения от тех или иных условий дописать в столбец class рейтинг фильма в виде фразы. Проверка условия будет функцией. Каждая сторока передается в функцию и она определяет класс и записывает его в столбец.

In [6]:
df = pd.read_csv('ratings.csv')

def class_rating(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif 2 < rating <= 4:
        return 'средний рейтинг'
    elif 4.5 < rating <= 5:
        return 'высокий рейтинг'
    
df['class'] = df['rating'].apply(class_rating)
df.head

<bound method NDFrame.head of         userId  movieId  rating   timestamp            class
0            1       31     2.5  1260759144  средний рейтинг
1            1     1029     3.0  1260759179  средний рейтинг
2            1     1061     3.0  1260759182  средний рейтинг
3            1     1129     2.0  1260759185   низкий рейтинг
4            1     1172     4.0  1260759205  средний рейтинг
...        ...      ...     ...         ...              ...
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

[100004 rows x 5 columns]>

### Задание 2

Не помню уже сам додумался или в интернете нашел, что для удобства надо переделать список городов в словарь. Потом пишем функцию, которая перебирает значения городов в результатах ключевых запросов в датафрейме и при совпадении записывает

In [12]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

geo_data = {city: region for region, cities in geo_data.items() for city in cities} # перевод в словарь
#print(geo_data)

{'москва': 'Центр', 'тула': 'Центр', 'ярославль': 'Центр', 'петербург': 'Северо-Запад', 'псков': 'Северо-Запад', 'мурманск': 'Северо-Запад', 'владивосток': 'Дальний Восток', 'сахалин': 'Дальний Восток', 'хабаровск': 'Дальний Восток'}

In [7]:
df = pd.read_csv('keywords.csv')
#df.head() чтение данных и беглая проверка

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [16]:
def assign_region(keyword): # для каждого запроса ищем соотвествие в словаре, если его нет, то возвращаем undefined
    for city, region in geo_data.items():
        if city in keyword:
            return region
    return 'undefined'

In [ ]:
df['region'] = df['keyword'].apply(assign_region) # применяем функцию к датафрейму

Для собственного удобства проверки результатов создаю датафреймы по регионам и смотрю что получилось

In [37]:
df_center = df[df['region'] == 'Центр']
df_center.head()

               keyword   shows region
127       авито москва  979292  Центр
849    авито ярославль  209581  Центр
1259            москва  153050  Центр
1396   гисметео москва  140279  Центр
1482  госуслуги москва  133061  Центр

In [38]:
df_sz = df[df['region'] == 'Северо-Запад']
df_sz.head()

                                                keyword   shows        region
370                            авито ру санкт петербург  425134  Северо-Запад
564                           погода в санкт петербурге  292489  Северо-Запад
1236                               банк санкт петербург  174375  Северо-Запад
1346                                    санкт петербург  144232  Северо-Запад
2121  электронный дневник санкт петербургского образ...   94835  Северо-Запад

In [39]:
df_dv = df[df['region'] == 'Дальний Восток']
df_dv.head()

                  keyword   shows          region
1063  фарпост владивосток  176951  Дальний Восток
2175       дром хабаровск   98361  Дальний Восток
3206     дром владивосток   73084  Дальний Восток
3275   100 сп владивосток   76418  Дальний Восток
3687      авито хабаровск   63736  Дальний Восток